<section class="py-5" style="background-color: hsla(46, 98%, 51%, 0.658);">
    <div class=" w-100 container d-flex  justify-content-center align-items-center ">

      <div class="py-5 mx-5"  style=" flex: 30%; display: grid; ">
        <form action="/" method="POST">

        <h3 >ORDER NOW </h3>
        
        <div class="mt-3" >
          <label for="inputEmail3" >Email</label>
          <input type="email"  id="inputEmail3" name="inputEmail3" class="d-flex ">
        </div>
        <div>
          <label for="inputPassword3" class="mt-3"  >Password</label>
          <input type="password" id="inputPassword3" name="inputPassword3" class="d-flex">
        </div> 
            <button type="submit" class=" mt-4 py-2 px-3 fs-5" style="background-color:#fa8100; border-radius: 20px; border-color: none; ">Sign in</button>
        </form>
      </div>

      <div style="flex: 70%;" >
        <img src="img/hero-pizza.png" alt="" class="img-fluid">
      </div>

    </div>
  </section>