<%- include('navbar.ejs')  %> 
  <a class="navbar-brand d-flex" href="/user/cart">
    <img src="img/user.jpg" alt="" width="60" height="60" class="d-inline-block align-text-top" style="border-radius: 50%;">
  </a>
  <a class="navbar-brand d-flex " href="/user/cart">
    <img src="img/cart.png" alt="" width="60" height="60" class="d-inline-block align-text-top" style="border-radius: 50%;">
  </a>
</div>
</nav>

<%-  include('menu.ejs') %> 


<%- include('footer.ejs')  %> 